@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "raleway";
    src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: "ralewaybold";
    src: url("../fonts/Raleway-ExtraBold.ttf");
}
